.layout_seite {
    height: 100vh;
    width: 100vw;
    padding-top: 2.44rem;
    background-color: red;
    font-family: routed-gothic;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}


.layout_seite p {
    color: var(--text);
}

.layout_text {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.44rem;
    background-color: var(--formbackground);
    width: 800px;
    height: calc(100% +2.44rem);
    margin-top: -2.44rem;
}

.layout_text a {
    text-decoration: none;
    color: var(--text);
}



.op-flex {
    display: flex;
    flex-direction: column;
    gap: 10vw;
}

.op-flex a{
    text-align: center;
    border-radius: 25px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
    padding-top: 0.6vw;
}

#new {
    background-color: var(--textdetail);
}

#view {
    background-color: var(--textdetail3);
}

@media only screen and (max-width: 1024px) {

  .layout {
  max-width: 100dvw;
  }

  .layoutseite {
    overflow: hidden;
  }

.layout_text {
    width: 100%;
}

  .form-group {
  padding-top: 1vw;
  /* padding-bottom: 2.44rem; */
  padding-bottom: 1rem;
  }

  .intro {
  max-width: 100dvw;
  }

  .menu {
  display: none;
  }

  .menubutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1vw;
  }

  .menubutton img {
  height: 1.22rem;
  display: block;
  }

  .x {
  display: none;
  font-size: 1.75rem;
  line-height: 100%;
  margin-bottom: 0.12rem;
  }

  .menumobil {
  display: none;
  position: fixed;
  margin-top: 2.44rem;
  backdrop-filter: blur(20px);
  z-index: 20;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100dvw;
  }

  .menumobil a{
  background-color: var(--hellgrau);
  width: 100%;
  text-align: center;
  padding-bottom: 0.61rem;
  padding-top: 0.61rem;
  text-decoration: none;
  color: var(--formbackground);
  font-family: routed-gothic-wide;
  }

  .close {
  height: 450px;
  width: 100dvw;
  }


  }
